<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>architecturaEterna</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="img/slider/logo.png" rel="icon">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700|Raleway:300,400,400i,500,500i,700,800,900" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="lib/nivo-slider/css/nivo-slider.css" rel="stylesheet">
  <link href="lib/owlcarousel/owl.carousel.css" rel="stylesheet">
  <link href="lib/owlcarousel/owl.transitions.css" rel="stylesheet">
  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="lib/animate/animate.min.css" rel="stylesheet">
  <link href="lib/venobox/venobox.css" rel="stylesheet">

  <!-- Nivo Slider Theme -->
  <link href="css/nivo-slider-theme.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="css/style.css" rel="stylesheet">

  <!-- Responsive Stylesheet File -->
  <link href="css/responsive.css" rel="stylesheet">

  <!-- =======================================================
    Theme Name: eBusiness
    Theme URL: https://bootstrapmade.com/ebusiness-bootstrap-corporate-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>

<body data-spy="scroll" data-target="#navbar-example">

  <div id="preloader"></div>

  <header>
    <!-- header-area start -->
    <div id="sticker" class="header-area">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12">

            <!-- Navigation -->
            <nav class="navbar navbar-default">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".bs-example-navbar-collapse-1" aria-expanded="false">
										<span class="sr-only">Toggle navigation</span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
									</button>
                <!-- Brand/Marke -->
                <a class="navbar-brand page-scroll sticky-logo" href="index.html">
                  <h1><span>architectura</span>Eterna</h1>
                  <!-- Uncomment below if you prefer to use an image logo. Logo verwenden -->
                  <!-- <img src="img/logo.png" alt="" title=""> -->
								</a>
              </div>
              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse main-menu bs-example-navbar-collapse-1" id="navbar-example">
                <ul class="nav navbar-nav navbar-right">
                  <li class="active">
                    <a class="page-scroll" href="./index.html#home">Startseite</a>
                  </li>
                  <li>
                    <a class="page-scroll" href="./index.html#about">Über uns</a>
                  </li>
                  <li>
                    <a class="page-scroll" href="./index.html#services">Services</a>
                  </li>
                  <li>
                    <a class="page-scroll" href="./index.html#team">Team</a>
                  </li>
                  <li>
                    <a class="page-scroll" href="./index.html#portfolio">Portafolien</a>
                  </li>
                  <li>
                    <a class="page-scroll" href="./index.html#chat">Chat</a>
                  </li>
                  <li>
                    <a class="page-scroll" href="./index.html#contact">Kontakte</a>
                  </li>
                  <li>
                    <a href="#" class="log-top" data-toggle="modal" data-target="#login-modal">Login</a>
                  </li>>
                  <li>
                    <a class="page-scroll" href="./index.html#contact">Impressum/Datenschutz</a>
                  </li>
                </ul>
              </div>
              <!-- navbar-collapse. Barra de navegacion -->
            </nav>
            <!-- END: Navigation -->
          </div>
        </div>
      </div>
    </div>
    <!-- header-area end -->
  </header>
  <!-- header end -->

  <!-- Start Bottom Header -->
  <div class="header-bg page-area">
    <div class="home-overly"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="slider-content text-center">
            <div class="header-bottom">
              <div class="layer2 wow zoomIn" data-wow-duration="1s" data-wow-delay=".4s">
                <h1 class="title2">News</h1>
              </div>
              <div class="layer3 wow zoomInUp" data-wow-duration="2s" data-wow-delay="1s">
                <h2 class="title3">Architektur Blog</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END Header -->
  <div class="blog-page area-padding">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <div class="page-head-blog">
            <div class="single-blog-page">
              <!-- search option start -->
              <form action="#">
                <div class="search-option">
                  <input type="text" placeholder="Suchen...">
                  <button class="button" type="submit">
                                            <i class="fa fa-search"></i>
                                        </button>
                </div>
              </form>
              <!-- search option end -->
            </div>
            <div class="single-blog-page">
              <!-- recent start -->
              <div class="left-blog">
                <h4>Letzter Beitrag</h4>
                <div class="recent-post">
                  <!-- start single post -->
                  <div class="recent-single-post">
                    <div class="post-img">
                      <a href="#">
												   <img src="img/blog/aufzug5.jpg" alt="">
												</a>
                    </div>
                    <div class="pst-content">
                      <p><a href="#"> Bau eines Aufzug an der Carmelitas Schule .</a></p>
                    </div>
                  </div>
                  <!-- End single post -->
                  <!-- start single post -->
                  <div class="recent-single-post">
                    <div class="post-img">
                      <a href="#">
												   <img src="img/blog/architecture.jpg" alt="">
												</a>
                    </div>
                    <div class="pst-content">
                      <p><a href="#">In Spanien klare Trennung von Design und technischer Umsetzung</a></p>
                    </div>
                  </div>
                  <!-- End single post -->
                  <!-- start single post -->
                  <div class="recent-single-post">
                    <div class="post-img">
                      <a href="#">
												   <img src="img/blog/KI_arquitectura.jpeg" alt="">
												</a>
                    </div>
                    <div class="pst-content">
                      <p><a href="#"> Einsatz künstlicher Intelligenz in der Architektur.</a></p>
                    </div>
                  </div>
                  <!-- End single post -->
                  <!-- start single post -->
                  <div class="recent-single-post">
                    <div class="post-img">
                      <a href="#">
												   <img src="img/blog/MediaTC.jpg" alt="">
												</a>
                    </div>
                    <div class="pst-content">
                      <p><a href="#"> Die nachhaltigsten Gebäude in Spanien.</a></p>
                    </div>
                  </div>
                  <!-- End single post -->
                </div>
              </div>
              <!-- recent end -->
            </div>
            <div class="single-blog-page">
              <div class="left-blog">
                <h4>Artikel</h4>
                <ul>
                  <li>
                    <a href="#">Letztes Projekt</a>
                  </li>
                  <li>
                    <a href="#">Avantgardistische Architektur in Spanien</a>
                  </li>
                  <li>
                    <a href="#">KI in der Architektur</a>
                  </li>
                  <li>
                    <a href="#">Ökologische Bauen</a>
                  </li>
                  <li>
                    <a href="#">Sonnenkollektoren</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="single-blog-page">
              <div class="left-blog">
                <h4>Archive</h4>
                <ul>
                  <li>
                    <a href="#">September 2024</a>
                  </li>
                  <li>
                    <a href="#">August 2024</a>
                  </li>
                  <li>
                    <a href="#">July 2024</a>
                  </li>
                  <li>
                    <a href="#">Juni 2024</a>
                  </li>
                  <li>
                    <a href="#">May 2024</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="single-blog-page">
              <div class="left-tags blog-tags">
                <!--<div class="popular-tag left-side-tags left-blog">
                  <h4>popular tags</h4>
                  <ul>
                    <li>
                      <a href="#">Portfolio</a>
                    </li>
                    <li>
                      <a href="#">Project</a>
                    </li>
                    <li>
                      <a href="#">Design</a>
                    </li>
                    <li>
                      <a href="#">Website</a>
                    </li>
                    <li>
                      <a href="#">Joomla</a>
                    </li>
                    <li>
                      <a href="#">Html</a>
                    </li>
                    <li>
                      <a href="#">wordpress</a>
                    </li>
                    <li>
                      <a href="#">Masonry</a>
                    </li>
                  </ul>
                </div>-->
              </div>
            </div>
          </div>
        </div>
        <!-- End left sidebar -->
        <!-- Start single blog -->
        <div class="col-md-8 col-sm-8 col-xs-12">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="single-blog">
                <div class="single-blog-img">
                  <a href="blog-details.html">
											<img src="img/blog/aufzug5.jpg" alt="">
										</a>
                </div>
                <div class="blog-meta">
                  <span class="comments-type">
											<i class="fa fa-comment-o"></i>
											<a href="#">Kommentaren</a>
										</span>
                  <span class="date-type">
											<i class="fa fa-calendar"></i>2024-11
										</span>
                </div>
                <div class="blog-text">
                  <h4>
											<a href="#">Bau eines Aufzug an der Carmelitas Schule</a>
										</h4>
                  <p>
                    Wir haben das Entwurfsprojekt für einen Aufzug am Colegio Carmelitas außerhalb des Schulgebäudes realisiert. 
                    Den Entwurf präsentieren wir unseren Kunden dreidimensional in AutoCAD. Wir führten die Ausführung des Projektentwurfs und der Konstruktion durch den Berater unter Berücksichtigung des Bygett unseres Kunden und gemäß den von ihm gewünschten Materialien durch. 
                    Unser Kunde ist sich des Umweltschutzes bewusst und wir verwenden Materialien, die die Umwelt nicht belasten.

                  </p>
                </div>
                <span>
										<a href="blog-details.html" class="ready-btn">Mehr Lesen</a>
									</span>
              </div>
            </div>
            <!-- End single blog -->
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="single-blog">
                <div class="single-blog-img">
                  <a href="blog-details.html">
											<img src="img/blog/architecture.jpg" alt="">
										</a>
                </div>
                <div class="blog-meta">
                  <span class="comments-type">
											<i class="fa fa-comment-o"></i>
											<a href="#">Kommentaren</a>
										</span>
                  <span class="date-type">
											<i class="fa fa-calendar"></i>2024-11
										</span>
                </div>
                <div class="blog-text">
                  <h4>
											<a href="#">In Spanien klare Trennung von Design und technischer Umsetzung</a>
										</h4>
                  <p>
                    Spanien hat in den letzten Jahren einen beeindruckenden Anstieg im Baugewerbe verzeichnet. 
                    Der Bedarf an innovativen und qualifizierten Architektinnen und Architekten ist hoch, 
                    da zahlreiche Wohn- und Gewerbeimmobilienprojekte sowie Infrastrukturvorhaben realisiert werden sollen. Allerdings befindet sich die spanische Baubranche fest in einheimischer Hand und ein Markteintritt 
                    für ausländische Unternehmen gestaltet sich als herausfordernd. NAX-Paten Kilian Kresing (KRESINGS), und Armand Grüntuch (Grüntuch Ernst Architekten) berichten von ihren Erfahrungen mit Projekten auf Mallorca und in Madrid.
                  </p>
                </div>
                <span>
										<a href="blog-details.html" class="ready-btn">Mehr Lesen</a>
									</span>
              </div>
            </div>
            <!-- Start single blog -->
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="single-blog">
                <div class="single-blog-img">
                  <a href="blog-details.html">
											<img src="img/blog/KI_arquitectura.jpeg" alt="">
										</a>
                </div>
                <div class="blog-meta">
                  <span class="comments-type">
											<i class="fa fa-comment-o"></i>
											<a href="#">Kommentaren</a>
										</span>
                  <span class="date-type">
											<i class="fa fa-calendar"></i>2024-11
										</span>
                </div>
                <div class="blog-text">
                  <h4>
											<a href="#">Zukunft: wird die KI in der Architektur anwendet?</a>
										</h4>
                  <p>
                    Künstliche Intelligenz wird nicht nur bei der Schaffung neuer Architekturwerke eingesetzt. Es wird auch bei der Sanierung bestehender Gebäude und bei der Instandhaltung von Bauwerken eingesetzt. In betroffenen Gebäuden wird der Einsatz von KI genutzt, 
                    um eine Diagnose zu erstellen, die Ursachen zu analysieren und Behandlungsmaßnahmen zu entwickeln sowie eine vorbeugende 
                    Wartung durch kontinuierliche Überwachung und Steuerung durchzuführen.
                  </p>
                </div>
                <span>
										<a href="blog-details.html" class="ready-btn">Mehr Lesen</a>
									</span>
              </div>
            </div>
            <!-- End single blog -->
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="single-blog">
                <div class="single-blog-img">
                  <a href="blog-details.html">
											<img src="img/blog/MediaTC.jpg" alt="">
										</a>
                </div>
                <div class="blog-meta">
                  <span class="comments-type">
											<i class="fa fa-comment-o"></i>
											<a href="#">Kommentaren</a>
										</span>
                  <span class="date-type">
											<i class="fa fa-calendar"></i>2024-11
										</span>
                </div>
                <div class="blog-text">
                  <h4>
											<a href="#">Die nachhaltigsten Gebäude in Spanien</a>
										</h4>
                  <p>
                    Wenn wir über Nachhaltigkeit in der Architektur sprechen , meinen wir nicht nur Gebäude, die Energie sparen oder ein paar Sonnenkollektoren auf dem Dach haben.
                    Nachhaltigkeit ist eine umfassende Philosophie, die von den verwendeten Materialien bis hin zu den langfristigen Auswirkungen eines Bauwerks auf seine Umwelt und Gemeinschaft reicht. 
                    In Spanien, einem sonnendurchfluteten Land mit einer reichen Architekturtradition, zeichnen sich einige Gebäude nicht nur durch ihre Schönheit aus, sondern auch durch ihr Engagement für die Umwelt. 
                  </p>
                </div>
                <span>
										<a href="blog-details.html" class="ready-btn">Mehr Lesen</a>
									</span>
              </div>
            </div>
            <!-- Start single blog -->
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="single-blog">
                <div class="single-blog-img">
                  <a href="blog-details.html">
											<img src="img/blog/panelsolar.jpg" alt="">
										</a>
                </div>
                <div class="blog-meta">
                  <span class="comments-type">
											<i class="fa fa-comment-o"></i>
											<a href="#">Kommentaren</a>
										</span>
                  <span class="date-type">
											<i class="fa fa-calendar"></i>2024-11
										</span>
                </div>
                <div class="blog-text">
                  <h4>
											<a href="#">Nützung von Sonnenkollektoren in Andalusien</a>
										</h4>
                  <p>
                    Die moderne Architektur in Spanien zeichnet sich durch eine beeindruckende Mischung aus Tradition und Innovation aus. 
                    Bekannte Architekten wie Santiago Calatrava, Rafael Moneo und Ricardo Bofill haben das Land mit ikonischen Gebäuden geprägt, 
                    die sowohl futuristische Designs als auch funktionale Eleganz verkörpern. Beispiele dafür sind das Ciudad de las Artes y las Ciencias in Valencia und das Windsor-Tower in Madrid. Moderne spanische Architektur betont Nachhaltigkeit, 
                    kreative Nutzung von Materialien und eine starke Verbindung zur Umwelt, wobei oft kühne Formen und innovative Strukturen verwendet werden.
                  </p>
                </div>
                <span>
										<a href="blog-details.html" class="ready-btn">Mehr Lesen</a>
									</span>
              </div>
            </div>
            <!-- End single blog -->
            <div class="blog-pagination">
              <ul class="pagination">
                <li><a href="#">&lt;</a></li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">&gt;</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Blog Area -->

  <div class="clearfix"></div>

  <!-- Start Footer bottom Area -->
  <footer>
    <div class="footer-area">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="footer-content">
              <div class="footer-head">
                <div class="footer-logo">
                  <h2><span>architectura</span>Eterna</h2>
                </div>

                <p>Sie finden uns unter folgenden sozialen Medien Kanälen:
                <div class="footer-icons">
                  <ul>
                    <li>
                      <a href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fa fa-instagram"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fa fa-linkedin"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!-- end single footer -->
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="footer-content">
              <div class="footer-head">
                <h4><b>Information</b></h4>
                <p>
                  Sie können uns gerne kontaktieren:
                </p>
                <div class="footer-contacts">
                  <p><span>Tel:</span> +123 456 789</p>
                  <p><span>Email:</span> Infos@example.com</p>
                  <p><span>Arbeitszeit:</span> 8:00 - 18:00 Uhr </p>
                </div>
              </div>
            </div>
          </div>
          <!-- end single footer -->
          <div class="col-md-4 col-sm-4 col-xs-12">
            
          </div>
        </div>
      </div>
    </div>
    <div class="footer-area-bottom">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="copyright text-center">
              <p>
                <strong>architecturaEterna</strong>
              </p>
            </div>
            <div class="credits">
              <!--
                All the links in the footer should remain intact.
                You can delete the links only if you purchased the pro version.
                Licensing information: https://bootstrapmade.com/license/
                Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=eBusiness
              -->
              <!--Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
              Re-distributed by <a href="https://themewagon.com/" target="_blank">Themewagon</a>-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- JavaScript Libraries -->
  <script src="lib/jquery/jquery.min.js"></script>
  <script src="lib/bootstrap/js/bootstrap.min.js"></script>
  <script src="lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="lib/venobox/venobox.min.js"></script>
  <script src="lib/knob/jquery.knob.js"></script>
  <script src="lib/wow/wow.min.js"></script>
  <script src="lib/parallax/parallax.js"></script>
  <script src="lib/easing/easing.min.js"></script>
  <script src="lib/nivo-slider/js/jquery.nivo.slider.js" type="text/javascript"></script>
  <script src="lib/appear/jquery.appear.js"></script>
  <script src="lib/isotope/isotope.pkgd.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD8HeI8o-c1NppZA-92oYlXakhDPYR7XMY"></script>

  <!-- Contact Form JavaScript File -->
  <script src="contactform/contactform.js"></script>

  <script src="js/main.js"></script>
</body>

</html>
